button(mat-raised-button, color='accent', (click)='addMoreTodo()') Show More Todo
mat-toolbar(color='primary')
  mat-toolbar-row
    span TODOS
  mat-toolbar-row
    span Add Todo
      input(type='text', name='todos', value='todos', [(ngModel)]='todo.title')
    span.example-spacer
    mat-icon.example-icon((click)='createTodo()') add_circle
  hr

  mat-toolbar-row(*ngFor='let todo of todos')
    span {{todo.title}}
    span.example-spacer
    mat-checkbox.example-margin([(ngModel)]='todo.completed', (change)='showOptions($event, todo.id)')
    mat-icon.example-icon((click)='deleteTodo(todo.id, todo.title)') remove_circle
